[Desktop Entry]
Name=NotasSeguras
Name[ast]=NotasSeguras
Name[bg]=NotasSeguras
Name[bs]=NotasSeguras
Name[ca]=NotasSeguras
Name[ca@valencia]=NotasSeguras
Name[cs]=NotasSeguras
Name[da]=NotasSeguras
Name[de]=NotasSeguras
Name[el]=NotasSeguras
Name[en_GB]=NotasSeguras
Name[eo]=NotasSeguras
Name[es]=NotasSeguras
Name[et]=NotasSeguras
Name[fi]=NotasSeguras
Name[fr]=NotasSeguras
Name[ga]=NotasSeguras
Name[gl]=NotasSeguras
Name[hu]=NotasSeguras
Name[it]=NotasSeguras
Name[ja]=NotasSeguras
Name[kk]=NotasSeguras
Name[km]=NotasSeguras
Name[ko]=NotasSeguras
Name[lv]=NotasSeguras
Name[nb]=NotasSeguras
Name[nds]=NotasSeguras
Name[nl]=NotasSeguras
Name[nn]=NotasSeguras
Name[pa]=NotasSeguras
Name[pl]=NotasSeguras
Name[pt]=NotasSeguras
Name[pt_BR]=NotasSeguras
Name[ro]=NotasSeguras
Name[ru]=NotasSeguras
Name[sk]=NotasSeguras
Name[sq]=NotasSeguras
Name[sr]=NotasSeguras
Name[sr@ijekavian]=NotasSeguras
Name[sr@ijekavianlatin]=NotasSeguras
Name[sr@latin]=NotasSeguras
Name[sv]=NotasSeguras
Name[tr]=NotasSeguras
Name[ug]=NotasSeguras
Name[uk]=NotasSeguras
Name[x-test]=xxNotasSegurasxx
Name[zh_CN]=NotasSeguras
Name[zh_TW]=NotasSeguras
Comment=Plasma NotasSeguras
Comment[ast]=Plasma NotasSeguras
Comment[bs]=Plazma NotasSeguras
Comment[ca]=Plasma NotasSeguras
Comment[ca@valencia]=Plasma NotasSeguras
Comment[cs]=Plasma NotasSeguras
Comment[da]=Plasma NotasSeguras
Comment[de]=Plasma NotasSeguras
Comment[el]=Plasma NotasSeguras
Comment[en_GB]=Plasma NotasSeguras
Comment[eo]=Plasma NotasSeguras
Comment[es]=Plasma NotasSeguras
Comment[et]=Plasma NotasSeguras
Comment[fi]=Plasma NotasSeguras
Comment[fr]=Plasma NotasSeguras
Comment[ga]=Plasma NotasSeguras
Comment[gl]=Plasma NotasSeguras
Comment[hu]=Plasma NotasSeguras
Comment[it]=Plasma NotasSeguras
Comment[ja]=Plasma NotasSeguras
Comment[kk]=Plasma NotasSeguras
Comment[km]=ប្លាស្មា NotasSeguras
Comment[ko]=Plasma NotasSeguras
Comment[lv]=Plasma NotasSeguras
Comment[nb]=Plasma NotasSeguras
Comment[nds]=Plasma NotasSeguras
Comment[nl]=Plasma NotasSeguras
Comment[nn]=Plasma NotasSeguras
Comment[pa]=ਪਲਾਜ਼ਮਾ NotasSeguras
Comment[pl]=Plazma NotasSeguras
Comment[pt]=Plasma NotasSeguras
Comment[pt_BR]=Plasma NotasSeguras
Comment[ro]=Plasma NotasSeguras
Comment[ru]=Plasma NotasSeguras
Comment[sk]=Plasma NotasSeguras
Comment[sq]=Plasma NotasSeguras
Comment[sr]=Плазмин NotasSeguras
Comment[sr@ijekavian]=Плазмин NotasSeguras
Comment[sr@ijekavianlatin]=Plasmin NotasSeguras
Comment[sr@latin]=Plasmin NotasSeguras
Comment[sv]=Plasma NotasSeguras
Comment[tr]=Plasma NotasSeguras
Comment[uk]=Плазма NotasSeguras
Comment[x-test]=xxPlasma NotasSegurasxx
Comment[zh_CN]=Plasma NotasSeguras
Comment[zh_TW]=Plasma NotasSeguras
Type=Service
Icon=notasseguras

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_notasseguras
X-KDE-PluginInfo-Author=Jonathan Sánchez Ugalde
X-KDE-PluginInfo-Email=jonathanjhosue@gmail.com
X-KDE-PluginInfo-Name=notasseguras
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

